
@{
    ViewData["Title"] = "Privacy";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}

<div class="row">
    <div class="col-md-9">
        <h1 class="text-white add-letter-space mb-3">Gizlilik &amp; Politika</h1>
        <ul class="list-unstyled">
            <li class="bullet-list-item mb-5">
                <h3 class="text-white mb-3 add-letter-space">Gizlilik Politikası:</h3>
                <p>Genç Yakışıklı Borsacılar, müşterilerimizin gizliliğini ve kişisel bilgilerinin korunmasını ciddiye almaktadır. Bu gizlilik politikası, size hangi tür bilgilerin toplandığını, bu bilgilerin nasıl kullanıldığını ve korunduğunu açıklar.</p>
            </li>
            <li class="bullet-list-item mb-5">
                <h3 class="text-white mb-3 add-letter-space">Bilgi Toplama ve Kullanma:</h3>
                <p>Müşterilerimizle ilgili kişisel bilgileri, yalnızca yasal amaçlar doğrultusunda ve yatırım danışmanlığı hizmetlerini sağlamak, taleplerinizi karşılamak ve yasal yükümlülükleri yerine getirmek amacıyla toplarız. Bu bilgiler, sadece yetkilendirilmiş çalışanlarımızın erişimine ve kullanımına açıktır ve üçüncü taraflarla paylaşılmamaktadır, mevcut yasal düzenlemelerin gerektirdiği durumlar hariç.</p>
            </li>
            <li class="bullet-list-item mb-5">
                <h3 class="text-white mb-3 add-letter-space">Bilgi Güvenliği:</h3>
                <p>Müşteri bilgilerinin güvenliğini sağlamak için teknik ve fiziksel güvenlik önlemleri alıyoruz. Verilerin kaybını, kötüye kullanımını, yetkisiz erişimini ve değişikliklerini önlemek için uygun güvenlik önlemleri ve prosedürler kullanıyoruz. Ayrıca, müşterilerimizle paylaşılan bilgilerin gizliliğini korumak için yasal ve etik standartları uyguluyoruz.</p> 
            </li>
            <li class="bullet-list-item mb-5">
                <h3 class="text-white mb-3 add-letter-space">Üçüncü Taraf Bağlantıları:</h3>
                <p>Web sitemiz, diğer web sitelerine yönlendirme bağlantıları içerebilir. Bu bağlantılar üzerinden erişilen web sitelerinin gizlilik politikaları ve uygulamaları üzerinde kontrolümüz yoktur. Bu nedenle, başka bir web sitesine bağlandığınızda, o sitenin gizlilik politikasını okumanızı öneririz.</p>
            </li>
            <li class="bullet-list-item mb-5">
                <h3 class="text-white mb-3 add-letter-space">Politika:</h3>
                <p>Genç Yakışıklı Borsacılar, etik değerlere ve yasalara tam uyum sağlamayı taahhüt eder. Müşterilerimize dürüstlük, şeffaflık ve güvenilirlik sunmak için çaba gösteririz. Tüm yatırım danışmanlığı hizmetlerimizde, yasal düzenlemelere, etik standartlara ve müşteri çıkarlarının korunmasına büyük önem veririz.</p>
            </li>
      
        </ul>
    </div>
</div>
