    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="/admin/Index" ">
            <img src="@ViewBag.userImageUrl" width="30" height="30" class="d-inline-block align-top" alt="">
            Admin
        </a>

        <ul>
        <li class="nav-item" href="/Home/Logout">
            <a href="/Home/Logout">
                <button class="btn btn-outline-danger">Çıkış</button>
                </a>
                
            </li>
        </ul>

    </nav>